# Run files
log.roo
target/

# Eclipse specific files
.classpath
.project
.settings/

# Intellij specific files
/.idea
/rooMongo.iml                                                                                                                                                                                                                                                           
/rooMongo.ipr                                                                                                                                                                                                                                                           
/rooMongo.iws
