# Run files
log.roo
target/

# Eclipse specific files
.classpath
.project
.settings/

# Intellij specific files
.idea
*.iml                                                                                                                                                                                                                                                           
*.ipr                                                                                                                                                                                                                                                           
*.iws
